<%- include("templates/header") %>
<script src="../public/scripts/resetPassword.js" defer></script>
</head>
<body>
    <%- include("templates/nav") %>
    <h1>RESET YOUR PASSWORD</h1>

    <form action="/resetPassword" method="post">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="hidden" name="email" value="<%= email %>">
        <input type="password" name="password" placeholder="Enter a new password">
        <input type="password" name="confirmPassword" placeholder="Confirm your new password">
        <button type="submit" name="reset-password-submit">Reset password</button>
    </form>   


    <% if (typeof error !== 'undefined' && error === 'PasswordNotMatch') { %>
        <div class="alert alert-danger d-flex justify-content-center mx-auto mb-0" id="alertBox" style="width: 20%;" role="alert">
            <p class="alert-heading">Password is not match.</p>
        </div>
    <% } %>
    

    

<script src="/scripts/resetPassword.js"></script>
<%- include("templates/bottomNav") %>
</body>